.trade-item{
  background-image: url('https://mcicons.ccleaf.com/assets/60.%20Interface/5.%20UI/Blank_Template_Gui_1Row.png');
  background-size: fill;
  background-repeat: no-repeat;
  padding: 5px;
  margin: 10px;
  display: flex;
}

.trade-item #trade-arrow{
  height: 98%;
  width: 20%;
  left:45%;
  position: relitive;
}

.trade-item #in-items{
  height: 98%;
  width: 40%;
  left:5%
  display: inline-flex;
  position: relitive;
}

.trade-item #in-items .item{
  height: 98$;
}

.trade-item #out-items .item{
  height: 98$;
}

.trade-item #out-items{
  height: 98%;
  width: 40%;
  right: 5%;
  display: inline-flex;
  position: relitive;
}

.item{
  display:block;
}

.item p{
  position: relitive;
  bottom:0px;
  right:0px;
  height:5%;
  width:5%;
}

.item p{
  position: relitive;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  z-index:-1;
}
