.trade-item{
  background-image: https://mcicons.ccleaf.com/assets/60.%20Interface/5.%20UI/Blank_Template_Gui_1Row.png;
  background-size: fill;
  background-repeat: no-repeat;
  padding: 5px;
  margin: 10px;
}

.trade-item .trade-arrow{
  height: 98%;
  width: 20%;
  left:45%;
  position: relitive;
}

.trade-item .in-items{
  height: 98%;
  width: 40%;
  left:5%
  display: inline-flex;
  position: relitive;
}

.trade-item .out-items{
  height: 98%;
  width: 40%;
  right: 5%;
  display: inline-flex;
  position: relitive;
}
